---
stages:

  build:
    buildTool: mta

  acceptance:
    cfDeploy:
      credential: "cf-credentials"
      apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
      org: "ec4edb2ctrial"
      space: "dev"
