stages:

  build:
    buildTool: "mta"
    buildToolVersion: "latest"
    npmInstall: true

  acceptance:
    cfDeploy:
      credential: "cf-credentials"
      apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
      org: "ec4edb2ctrial"
      space: "dev"
      deployTool: "mtaDeployPlugin"
      deployType: "standard"
