stages:
  build:
    buildTool: mta
    buildToolVersion: N22 # Required property fix
  release:
    cloudFoundry:
      apiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com/'
      org: 'ec4edb2ctrial'
      space: 'dev'
      credentialsId: 'sapcreds'
