general:
  buildTool: mta

stages:
  build: {}                   # must be an object, even if empty

  deploy:
    cloudFoundryDeploy:
      connection: "sapcreds"  # your saved CI/CD credential
      deployType: mta
