version: '1.0'

pipeline:

  install:
    type: npm-install
    inputs:
      workingDirectory: ./   # root folder of your React app

  build:
    type: custom
    script:
      - npm run build        # React build outputs /build folder

  deploy-html5:
    type: html5-deploy
    inputs:
      appName: my-react-app
      sourcePath: build
      service: my-html5-repo-connection   # your service connection name
      envVars:
        REACT_APP_API_ENDPOINT: ${API_ENDPOINT}
        REACT_APP_OTHER_VAR: ${OTHER_VAR}
