general:
  buildTool: mta

stages:
  build:
    mtaBuild: {}               # required key, even if empty

  deploy:
    cloudFoundryDeploy:
      connection: "sapcreds"  # your CI/CD credential
      deployType: mta
