stages:
  build:
    buildTool: npm
    buildToolVersion: N22   # Node.js 18
    buildCommand: install && run build
  deploy:
    deployTool: cf
    deployToolVersion: latest
    targets:
      - html5Repo
