---
stages:

  build:
    buildTool: "mta"
    buildToolVersion: "MBTJ21N22"

  acceptance:
    cfDeploy:
      credential: "Sapcreds"
      apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com/"
      org: "ec4edb2ctrial"
      space: "dev"
