version: "1.0"

general:
  buildTool: mta
  productiveBranch: main

build:
  tasks:
    - mtaBuild

deploy:
  tasks:
    - cloudFoundryDeploy

mtaBuild:
  buildTarget: CF

cloudFoundryDeploy:
  cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
  cfOrg: "ec4edb2ctrial"
  cfSpace: "dev"
  credentialsId: "sapcreds"
