schema-version: "2.0"

stages:
  build:
    buildTool: npm
    buildToolVersion: N20   # use N12/N14/N16/N18/N20/N22

  acceptance:
    approval: none          # can also be 'manual' if needed

  release:
    deploy: true            # deploy to Cloud Foundry if configured

# Optional: service connection to your repo
services:
  my-html5-repo-connection:
    token: my-html5-repo-key
