general:
  buildTool: mta

stages:
  build:
    # MTA build automatically reads mta.yaml

  deploy:
    cloudFoundryDeploy:
      connection: "sapcreds"  # Your CI/CD credential
      deployType: mta
