stages:
  - name: Build
    steps:
      - name: Build React App
        type: npm
        config:
          install: true        # runs 'npm install'
          build: true          # runs 'npm run build'
          working_dir: app     # folder containing package.json

  - name: Deploy
    steps:
      - name: Deploy to HTML5
        type: html5-apps-repo
        config:
          host: https://api.cf.us10-001.hana.ondemand.com
          account: 5165EF59-178F-4B04-A5AC-229A95C09693  # your Subaccount ID
          repository: myhtml5repo                        # your HTML5 repo
          application-name: my-react-app                # app name in BTP
          version: 1.0.${PIPELINE_ID}                  # automatic versioning
          target: dev                                   # deployment target
