general:
  buildTool: "mta"
  verbose: true

steps:
  mtaBuild:
    enabled: true

  cloudFoundryDeploy:
    enabled: true
    cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com/"
    cfOrg: "ec4edb2ctrial"
    cfSpace: "dev"
