general:
  buildTool: mta
  verbose: true

stages:
  build:
    mtaBuild: true

  deploy:
    cloudFoundryDeploy: true

steps:
  mtaBuild:
    buildTarget: CF

  cloudFoundryDeploy:
    cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    cfOrg: "ec4edb2ctrial"
    cfSpace: "dev"
