version: "1.0"

stages:

  build:
    buildTool: mta
    buildToolVersion: MBTJ11N18   # <-- change this to a valid MBT version
    commands:
      - npm install
      - npm run build
      - mbt build

  deploy:
    type: cloudFoundry
    cloudFoundry:
      connection: "sapcreds"   # <-- your CI/CD credential name
      deployType: mta
