stages:
  build:
    buildTool: mta
    buildToolVersion: MBTJ17N22
  release:
    deployTargets:
      - type: 'cloudFoundry'
        apiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com/'
        org: 'ec4edb2ctrial'
        space: 'dev'
        credentialsId: 'sapcreds'
