schema-version: "2.1"

pipelines:
  branches:
    main:
      - name: build-and-deploy
        jobs:
          - build
          - deploy

jobs:
  build:
    name: Build
    steps:
      - mtaBuild:
          builder: npm
          builderConfig:
            modules:
              - name: react-btp-app

  deploy:
    name: Deploy to CF
    steps:
      - cloudFoundryDeploy:
          cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
          cfOrg: "ec4edb2ctrial"
          cfSpace: "dev"
          deployType: mta
