version: v2

stages:
  build:
    buildTool: npm
    buildToolVersion: N18

  deploy:
    jobs:
      deploy-html5:
        type: deploy
        tasks:
          upload-html5:
            type: HTML5AppDeploy
            inputs:
              appName: my-frontend-app   # Your app name
              appPath: build
              xsAppJson: xs-app.json
