stages:
  Build:
    mtaBuild: true

  Deploy:
    cloudFoundryDeploy: true

steps:
  cloudFoundryDeploy:
    cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    cfOrg: "ec4edb2ctrial"
    cfSpace: "dev"
