version: "1.0"

stages:
  build:
    buildTool: npm
    buildToolVersion: MBTJ18N16
    appName: frontend-app
    parameters:
      buildDir: build

  acceptance: {}  # leave empty if no acceptance stage

  release:
    targets:
      - name: html5-repo
        service: my-html5-repo-key
        path: build
