stages:
  build:
    buildTool: mta
  release:
    cloudFoundryDeploy: true
    cfCredentialsId: 'sapcreds'
    cfApiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com/'
    cfOrg: 'ec4edb2ctrial'
    cfSpace: 'dev'
