general:
  buildTool: "mta"
  productiveBranch: "main"

stages:
  Build:
    mavenExecuteStaticCodeChecks: false
  Deploy:
    cloudFoundryDeploy: true

steps:
  # Build MTA (reads mta.yaml)
  mtaBuild:
    buildTarget: "CF"

  # Deploy using CF CLI credentials stored in SAP CI/CD
  cloudFoundryDeploy:
    cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com/"
    cfOrg: "ec4edb2ctrial"
    cfSpace: "dev"
    credentialsId: "sapcreds"
