version: v2

stages:
  build:
    buildTool: npm
    buildToolVersion: N18
    commands:
      - npm install
      - npm run build

  deploy:
    jobs:
      deploy-html5:
        type: deploy
        tasks:
          upload-html5:
            type: HTML5AppDeploy
            inputs:
              appName: MyFrontendApp
              appPath: build
              xsAppJson: xs-app.json
