version: "1.0"

stages:

  build:
    buildTool: mta
    buildToolVersion: "latest"
    commands:
      - npm install
      - npm run build
      - mbt build

  deploy:
    type: cloudFoundry
    cloudFoundry:
      apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
      org: "ec4edb2ctrial"
      space: "dev"
      deployType: mta
