stages:
  build:
    buildTool: mta
    # Using one of the exact allowed versions from your error log:
    buildToolVersion: MBTJ17N22 
  release:
    # In version 3.0, use 'cloudFoundryDeploy: true' and flattened keys
    cloudFoundryDeploy: true
    cfApiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com/'
    cfOrg: 'ec4edb2ctrial'
    cfSpace: 'dev'
    cfCredentialsId: 'sapcreds'
