version: "1.0"

stages:

  install:
    buildTool: npm
    buildToolVersion: "9"          # Node version for npm dependencies

  build:
    buildTool: mta
    buildToolVersion: MBTJ11N18    # Valid MBT + Node version

  deploy:
    type: cloudFoundry
    cloudFoundry:
      connection: "sapcreds"       # <-- your CI/CD credential name
      deployType: mta
