general:
  verbose: true

stages:
  build:
    mtaBuild:
      buildTarget: 'cloud'

  release:
    cloudFoundryDeploy:
      deployTool: 'mta'
      mtaPath: 'mta_archives/react-final-deploy-check_1.0.0.mtar'
      cloudFoundry:
        apiEndpoint: 'https://api.cf.us10-001.hana.ondemand.com'
        org: 'ec4edb2ctrial'
        space: 'dev'
        credentialsId: 'sapcreds'
