version: v2

stages:
  Build:
    jobs:
      BuildFrontend:
        type: Build
        tasks:
          InstallDependencies:
            type: npm
            commands:
              - npm install
          BuildApp:
            type: npm
            commands:
              - npm run build

  Deploy:
    jobs:
      DeployToHTML5Repo:
        type: Deploy
        tasks:
          UploadToHTML5:
            type: HTML5AppDeploy
            inputs:
              appName: MyFrontendApp
              appPath: build
              xsAppJson: xs-app.json
